@import "../../styles/constants";

:host {
  left: 3%;
  bottom: 0;
  display: block;
  background-color: cadetblue;
}

.edit-form {
  &__text-container {
    flex-grow: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      resize: none;
      width: $cell-size;
      height: $cell-size;
      border: $cell-border-size solid $border-color;

      @media (max-width: 425px) {
        width: calc(#{$cell-size-mob} - #{$default-gap});
        height: calc(#{$cell-size-mob} - #{$default-gap});
      }
    }
  }

  &__button-group {
    flex-grow: 1;
    justify-content: space-evenly;

    margin-right: $double-gap;

    @media (min-width: 600px) {
      margin-left: auto;
      margin-right: auto;

      > button {
        width: $cell-size;
      }
    }
  }

  &__content {
    position: absolute;
    background-color: $background-color;
    margin: auto;

    display: flex;

    @media (max-width: 599px) {
      bottom: 0;
      left: 0;
      right: 0;
      width: 95vw;
      height: 25vh;
      border-radius: 20px 20px 0 0;
    }

    @media (min-width: 600px) {
      flex-direction: column;
      right: 0;
      width: 17vw;
      height: 100%;
    }
  }
}
