<div class="edit-form__content">
  <div class="edit-form__text-container">
    <div
      class="text text_contenteditable"
      contenteditable
      [(ngModel)]="newValue"
    ></div>
  </div>
  <div class="button-group button-group_col edit-form__button-group">
    <button
      mat-flat-button
      color="warn"
      *ngIf="isEdit()"
      (click)="onDeleteClick()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-flat-button color="warn" (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-flat-button class="edit-form__button" (click)="saveChanges()">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>
