<div class="add-field">
  <input
    #addInput
    matInput
    type="text"
    class="add-field__input"
    placeholder="new bingo element"
    [(ngModel)]="NewElement"
    (keyup.enter)="addElement()"
  />
  <button mat-button (click)="addElement()">Add</button>
</div>
<span class="elements-number"
  >Elements number: {{ (Elements | async)?.length }}/{{
    MAX_NUMBER_OF_ELEMENTS
  }}</span
>
<mat-list class="elements-list">
  <div *ngFor="let i of Elements | async" class="elements-list__element">
    <app-bingo-element-list [Element]="i"></app-bingo-element-list>
  </div>
</mat-list>
