<input class="bingo-title" value="Your wonderful bingo!" />
<div class="wrapper">
  <!-- <table class="table">
    <tbody>
      <tr *ngFor="let item of GeneratedTable$ | async">
        <td
          *ngFor="let list of item"
          class="table__cell"
          [ngClass]="{ table__cell_generated: list.isGenerated }"
        >
          {{ list.value }}
        </td>
      </tr>
    </tbody>
  </table> -->
  <div class="grid grid-size-{{ (GeneratedTable$ | async)?.table?.length }}">
    <div
      class="grid__cell"
      *ngFor="let item of Elements$ | async"
      (click)="onEditClick()"
    >
      {{ item.value }}
    </div>
    <div
      *ngFor="let empty of NumberOfEmptyCells$ | async"
      class="grid__cell grid__cell_generated"
    ></div>
  </div>
</div>
