$cell-size: 140px;

:host{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bingo-table {
  border-collapse: collapse;
  text-align: center;
}

.bingo-cell {
  border: 1px solid white;
  width: $cell-size;
  height: $cell-size;
}

.generated-cell {
  background-color: chocolate;
}

.bingo-title{
  margin-bottom: 20px;
}
