@import "../../styles/constants";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table {
  border-collapse: collapse;
  text-align: center;

  &__cell {
    border: $cell-border-size solid $table-border-color;
    width: $cell-size;
    height: $cell-size;
    max-width: $cell-size;
    max-height: $cell-size;

    &_generated {
      background-color: $generated-cell-color;
    }
  }
}

.bingo-title {
  margin-bottom: 20px;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
