<div class="page-container">
  <app-elements-form
    *ngIf="!isMobile"
    class="elements-form"
  ></app-elements-form>
  <app-bingo-handler
    class="bingo-handler"
    (OpenEditForm)="openEditForm($event)"
  ></app-bingo-handler>
  <app-edit-form
    *ngIf="ShowEditForm"
    [mode]="mode"
    [element]="EditElement"
    (CloseEditForm)="closeEditForm()"
  ></app-edit-form>
</div>

<button mat-mini-fab color="primary" class="help-button" (click)="openHelp()">
  <mat-icon>question_mark</mat-icon>
</button>

<button
  *ngIf="isMobile && ShowAddButton"
  mat-fab
  color="accent"
  class="add-button"
  (click)="openEditForm()"
>
  <mat-icon>add</mat-icon>
</button>
