@import "../styles/constants";

:host {
  height: 100%;
  display: block;
  overflow: auto;
}

.page-container {
  display: flex;
  height: 100%;
}

.bingo-handler {
  background: $main-color;
  flex-grow: 1;
}

.elements-form {
  border-right: $default-border;
}

.add-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.help-button {
  position: fixed;
  top: 5%;
  right: 5%;
}
