@import "../styles/constants";

:host {
  height: 100%;
  display: block;
}

.page-container {
  display: flex;
  height: 100%;
}

.bingo-handler {
  background: $main-color;
  flex-grow: 1;
}

.elements-form {
  border-right: $default-border;
}
