<mat-dialog-content>
  <section>
    <h1>What is this app?</h1>
    <p>
      Hey there! This app is all about making Twitter Bingo super simple to
      create. If you're not familiar, Twitter Bingo is a fun game that's pretty
      popular among Twitter users. You create a Bingo and then your followers
      can play it by reposting your image with their results. Easy peasy!
    </p>
  </section>
  <section>
    <h1>How to use</h1>
    <p>
      Hey there! So you want to know how to use the app, right? 🤔 It's super
      simple! The app lets you easily create a Twitter Bingo. To get started,
      just add your first bingo cell and give it a title. 💡<br /><br />
      Creating a new cell is a breeze. Just click on the "Add" button (+) on the
      bottom left side of your screen, add some text, and hit ✔️.<br /><br />
      If you need to make changes, just click on a cell in the table and you'll
      be able to edit or delete it. The 🗑️ button will delete the cell and the
      cross button will cancel the changes. Easy peasy! 💪<br /><br />
      To take a picture of your bingo, here's what you need to do:
    </p>
    <ul>
      <li>Desktop: use scissors to crop the bingo.</li>
      <li>Mobile: just take a screenshot 📱</li>
    </ul>
    <br />
    <p>That's it! Have fun creating your bingo. 🎉</p>
  </section>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent" [matDialogClose]="">OK!</button>
</mat-dialog-actions>
