:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bingo-title {
  margin-bottom: 20px;
  border: none;
  font-size: 3vh;
  font-weight: 700;
  text-align: center;
  width: 75vw;
}

.bingo-count {
  margin-bottom: 20px;
  text-align: center;
}
