<!-- <input
  #editInput
  matInput
  type="text"
  class="element-text"
  *ngIf="ChangeValue"
  [(ngModel)]="NewValue"
  (keyup.enter)="saveElement()"
/> -->
<div class="element-text" *ngIf="!ChangeValue" contenteditable="true">
  {{ NewValue }}
</div>
<button *ngIf="!ChangeValue" mat-icon-button (click)="editElement()">
  <mat-icon>edit</mat-icon>
</button>
<button mat-icon-button *ngIf="ChangeValue" (click)="saveElement()">
  <mat-icon>done</mat-icon>
</button>
<button mat-icon-button (click)="removeElement()">
  <mat-icon>close</mat-icon>
</button>
